body {
  background-color: #add285;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  color: #051900;
}
.container {
  text-align: center;
  padding: 50px;
}
.input {
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid #6ea023;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.subtitle {
  font-weight: bold;
}
.title {
  font-weight: bold;
  color: #38630e;
  font-size: 28px;
}
